<h1>Listing launched_jobs</h1>

<table id="datatable" class="table">
  <thead>
    <tr>
      <th>Job id</th>
      <th>Job Spec</th>
      <th>Job Template Type</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Run time</th>
      <th>Status</th>
      <th>log</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @launched_jobs.each do |launched_job| %>
      <tr>
        <td><%= launched_job.id %></td>
        <td><%= link_to launched_job.job_spec.name, launched_job.job_spec %></td>
        <td><%= launched_job.job_spec.job_template_type %></td>
        <td><%= launched_job.start_time %></td>
        <td><%= launched_job.end_time %></td>
        <td><%= pretty_print_duration(launched_job.run_time) %></td>
        <td><%= launched_job.status %></td>
        <td class="text-center"><span class="glyphicon glyphicon-download"></span></td>
        <td><%= link_to 'Show', launched_job %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
