<% provide(:title, 'Launched Job') %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Job spec:</strong>
  <%= link_to @launched_job.job_spec.name, @launched_job.job_spec %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @launched_job.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @launched_job.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @launched_job.status %>
</p>

<p>
  <strong>Log file:</strong>
  <%= link_to 'Download Log', job_log_path, :target => '_blank' %>
</p>

<p>
  <strong>Status message:</strong>
  <pre>
    <%= @launched_job.status_message %>
  </pre>
</p>

<p>
  <strong>Result data:</strong>
  <pre>
    <%= @launched_job.result_data %>
  </pre>
</p>

<%= link_to 'Back', launched_jobs_path %>
