<h1>StaticPages#home</h1>

<p>
  <%= link_to 'JobScheduler', job_scheduler_path %>
</p>

<p>
  <%= link_to 'JobSpecs', job_specs_path %>
</p>

<p>
  <%= link_to 'JobScheduleGroups', job_schedule_groups_path %>
</p>

<p>
  <%= link_to 'LaunchedJobs', launched_jobs_path %>
</p>

<p>
  <%= link_to 'Clients', clients_path %>
</p>

<p>
  <%= link_to 'BirstSpaces', birst_spaces_path %>
</p>

<p>
  <%= link_to 'DataSources', data_sources_path %>
</p>

<p>
  <%= link_to 'DataSourceGroups', data_source_groups_path %>
</p>

<p>
  <%= link_to 'BirstProcessGroups', birst_process_groups_path %>
</p>
