<% provide(:title, 'Birst Process Group') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @birst_process_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @birst_process_group.description %>
</p>

<%= link_to 'Edit', edit_birst_process_group_path(@birst_process_group) %> |
<%= link_to 'Back', birst_process_groups_path %>
