<h1>JobSpecs#index</h1>

<table id="datatable" class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Enabled</th>
      <th>Job Template Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_specs.each do |job_spec| %>
      <tr>
        <td><%= job_spec.id %></td>
        <td><%= job_spec.name %></td>
        <td><%= job_spec.enabled %></td>
        <td><%= job_spec.job_template_type %></td>
        <td class="text-right"><%= link_to 'Show', job_spec %> /
        <%= link_to 'Edit', edit_job_spec_path(job_spec) %> /
        <%= link_to 'Destroy', job_spec, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Job Spec', new_job_spec_path, { class: "btn btn-default" } %>

<pre>
  <%= "#{@job_specs.as_json({ include: :job_template }).to_yaml}" %>
</pre>

