<h1>Listing birst_spaces</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Space Type</th>
      <th>Space UUID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @birst_spaces.each do |birst_space| %>
      <tr>
        <td><%= birst_space.name %></td>
        <td><%= link_to_if(birst_space.client, birst_space.client.try(:name), birst_space.client) %></td>
        <td><%= birst_space.space_type %></td>
        <td><%= birst_space.space_uuid %></td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: birst_space } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Client</th>
      <th>Space Type</th>
      <th>Space UUID</th>
      <th></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Birst space', new_birst_space_path, { class: "btn btn-default" }  %>
