<div class="row">
  <div class="col-md-10">

    <%= simple_form_for @data_source,
        html: { class: 'form-horizontal' },
        wrapper: :horizontal_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, as: :string %>
        <%= f.input :birst_filename, as: :string %>
        <%= f.input :data_source_type, collection: DataSource::DATA_SOURCE_TYPES, include_blank: false %>
        <%= f.input :redshift_sql %>
        <%= f.input :s3_path, as: :string %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>
