<h1>Listing data_sources</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birst filename</th>
      <th>Data source type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td><%= data_source.name %></td>
        <td><%= data_source.birst_filename %></td>
        <td><%= data_source.data_source_type %></td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: data_source } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Birst filename</th>
      <th>Data source type</th>
      <th></th>
    </tr>
  </tfoot>

</table>

<br>

<%= link_to 'New Data source', new_data_source_path, { class: "btn btn-default" } %>
