<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">
      <div class="panel-heading">Job Schedule Group</div>
      <div class="panel-body">

        <%= simple_form_for @job_schedule_group, 
            html: { class: 'form-horizontal' },
            wrapper: :horizontal_form,
            wrapper_mappings: { 
              boolean: :horizontal_boolean
            } do |f| %>


          <%= f.input :name %>

          <h4> Attach up to three schedules to this group </h4>


          <div id="job_schedules">
          <%= f.simple_fields_for :job_schedules do |s| %>
            <%= render 'job_schedule_fields', :f => s %>
          <% end %>
          <%= link_to_add_association "add schedule", f, :job_schedules %>
          </div>

          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
