<%= simple_form_for(@tpl_gooddata_extract) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :gooddata_project %>
    <%= f.association :destination_credential %>
    <%= f.input :destination_path %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
