<%= simple_form_for(@client) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :redshift_schema %>
    <%= f.input :salesforce_username %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
