<% provide(:title, 'Clients') %>

<table class="table datatable">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Salesforce username</th>
      <th>Redshift schema</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %></td>
        <td><%= client.name %></td>
        <td><%= client.salesforce_username %></td>
        <td><%= client.redshift_schema %></td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: client } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Salesforce username</th>
      <th>Redshift schema</th>
      <th></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Client', new_client_path, { class: "btn btn-default" }  %>
