<%= simple_form_for(@tpl_birst_staged_refresh) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :data_source_collection %>
    <%= f.association :process_group_collection %>
    <%= f.association :production_space %>
    <%= f.association :staging_space %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
