<h1>Listing tpl_birst_staged_refreshes</h1>

<table>
  <thead>
    <tr>
      <th>Data source collection</th>
      <th>Process group collection</th>
      <th>Production space</th>
      <th>Staging space</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tpl_birst_staged_refreshes.each do |tpl_birst_staged_refresh| %>
      <tr>
        <td><%= tpl_birst_staged_refresh.data_source_collection %></td>
        <td><%= tpl_birst_staged_refresh.process_group_collection %></td>
        <td><%= tpl_birst_staged_refresh.production_space %></td>
        <td><%= tpl_birst_staged_refresh.staging_space %></td>
        <td><%= link_to 'Show', tpl_birst_staged_refresh %></td>
        <td><%= link_to 'Edit', edit_tpl_birst_staged_refresh_path(tpl_birst_staged_refresh) %></td>
        <td><%= link_to 'Destroy', tpl_birst_staged_refresh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tpl birst staged refresh', new_tpl_birst_staged_refresh_path %>
