<p id="notice"><%= notice %></p>

<p>
  <strong>Data source collection:</strong>
  <%= @tpl_birst_staged_refresh.data_source_collection %>
</p>

<p>
  <strong>Process group collection:</strong>
  <%= @tpl_birst_staged_refresh.process_group_collection %>
</p>

<p>
  <strong>Production space:</strong>
  <%= @tpl_birst_staged_refresh.production_space %>
</p>

<p>
  <strong>Staging space:</strong>
  <%= @tpl_birst_staged_refresh.staging_space %>
</p>

<%= link_to 'Edit', edit_tpl_birst_staged_refresh_path(@tpl_birst_staged_refresh) %> |
<%= link_to 'Back', tpl_birst_staged_refreshes_path %>
