<% provide(:title, 'Job Schedulers') %>

<table>
  <thead>
    <tr>
      <th>Running?</th>
      <th>Started at</th>
      <th>Uptime</th>
      <th>Threads</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_schedulers.each do |job_scheduler| %>
      <tr>
        <td><%= job_scheduler.running %></td>
        <td><%= job_scheduler.started_at %></td>
        <td><%= job_scheduler.uptime %></td>
        <td><%= job_scheduler.threads %></td>
        <td><%= link_to 'Show', job_scheduler %></td>
        <td><%= link_to 'Destroy', job_scheduler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job scheduler', new_job_scheduler_path %>
