<p id="notice"><%= notice %></p>

<% if @job_scheduler %>
  <p>
    <strong>Running:</strong>
    <%= @job_scheduler.running %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= @job_scheduler.started_at %>
  </p>

  <p>
    <strong>Uptime:</strong>
    <%= @job_scheduler.uptime %>
  </p>

  <p>
    <strong>Threads:</strong>
    <%= @job_scheduler.threads %>
  </p>

  <p>
    <strong>Job list:</strong>
    <pre>
    <%= @job_scheduler.jobs.to_yaml %>
    </pre>
  </p>

  <%= link_to 'Destroy', job_scheduler_url(@job_scheduler), method: :delete, data: { confirm: 'Are you sure?' } %>

<% else %>
  <%= link_to 'New Job scheduler', new_job_scheduler_path %>
<% end %>

