<p id="notice"><%= notice %></p>

<p>
  <strong>Down:</strong>
  <%= @job_scheduler.down %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @job_scheduler.started_at %>
</p>

<p>
  <strong>Uptime:</strong>
  <%= @job_scheduler.uptime %>
</p>

<p>
  <strong>Threads:</strong>
  <%= @job_scheduler.threads %>
</p>

<p>
  <strong>Job list:</strong>
  <%= @job_scheduler.job_list %>
</p>

<%= link_to 'Edit', edit_job_scheduler_path(@job_scheduler) %> |
<%= link_to 'Back', job_schedulers_path %>
