<div class="row">
  <div class="col-md-10">

    <%= simple_form_for @birst_process_group_collection,
        html: { class: 'form-horizontal' },
        wrapper: :horizontal_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, as: :string %>
        <%= f.input :description %>
        <%= f.association :birst_process_groups, as: :check_boxes, collection: BirstProcessGroup.order(:name) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
