<% provide(:title, 'Birst Process Group Collections') %>

<table class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Birst process groups</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @birst_process_group_collections.each do |birst_process_group_collection| %>
      <tr>
        <td><%= link_to birst_process_group_collection.name, birst_process_group_collection %></td>
        <td><%= birst_process_group_collection.description %></td>
        <td>
          <ul class="list-unstyled">
            <% birst_process_group_collection.birst_process_groups.order(:name).each do |pg| %>
              <li> <%= pg.name %> </li>
            <% end %>
          </ul>
        </td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: birst_process_group_collection } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Birst process groups</th>
      <th></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Birst process group collection', new_birst_process_group_collection_path, { class: "btn btn-default" } %>
