<%= simple_form_for(@gooddata_project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :project_uid %>
    <%= f.association :client %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
