<h1>Listing gooddata_projects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Project uid</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gooddata_projects.each do |gooddata_project| %>
      <tr>
        <td><%= gooddata_project.name %></td>
        <td><%= gooddata_project.description %></td>
        <td><%= gooddata_project.project_uid %></td>
        <td><%= gooddata_project.client %></td>
        <td><%= link_to 'Show', gooddata_project %></td>
        <td><%= link_to 'Edit', edit_gooddata_project_path(gooddata_project) %></td>
        <td><%= link_to 'Destroy', gooddata_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gooddata project', new_gooddata_project_path %>
