<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gooddata_project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gooddata_project.description %>
</p>

<p>
  <strong>Project uid:</strong>
  <%= @gooddata_project.project_uid %>
</p>

<p>
  <strong>Client:</strong>
  <%= @gooddata_project.client %>
</p>

<%= link_to 'Edit', edit_gooddata_project_path(@gooddata_project) %> |
<%= link_to 'Back', gooddata_projects_path %>
