<% provide(:title, 'Birst Extract Group') %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @birst_extract_group.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @birst_extract_group.description %>
</p>

<%= link_to 'Edit', edit_birst_extract_group_path(@birst_extract_group) %> |
<%= link_to 'Back', birst_extract_groups_path %>
