<% provide(:title, 'Birst Extract Group Collections') %>

<table class="table datatable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Birst extract groups</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @birst_extract_group_collections.each do |birst_extract_group_collection| %>
      <tr>
        <td><%= link_to birst_extract_group_collection.name, birst_extract_group_collection %></td>
        <td><%= birst_extract_group_collection.description %></td>
        <td>
          <ul class="list-unstyled">
            <% birst_extract_group_collection.birst_extract_groups.order(:name).each do |pg| %>
              <li> <%= pg.name %> </li>
            <% end %>
          </ul>
        </td>
        <td class="text-right"> <%= render partial: "shared/row_functions", locals: { obj: birst_extract_group_collection } %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Birst extract groups</th>
      <th></th>
    </tr>
  </tfoot>
</table>

<br>

<%= link_to 'New Birst extract group collection', new_birst_extract_group_collection_path, { class: "btn btn-default" } %>
