<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @birst_extract_group_collection.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @birst_extract_group_collection.description %>
</p>

<%= link_to 'Edit', edit_birst_extract_group_collection_path(@birst_extract_group_collection) %> |
<%= link_to 'Back', birst_extract_group_collections_path %>
