<div class="row">
  <div class="col-md-10">

    <%= simple_form_for @data_source_group,
        html: { class: 'form-horizontal' },
        wrapper: :horizontal_form do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, as: :string %>
        <%= f.association :data_sources, as: :check_boxes, collection: DataSource.order(:name) %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>

  </div>
</div>
