<h1>Listing data_source_groups</h1>

<table id="datatable" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Data sources</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @data_source_groups.each do |data_source_group| %>
      <tr>
        <td><%= link_to data_source_group.name, data_source_group %></td>
        <td>
          <ul class="list-unstyled">
            <% data_source_group.data_sources.order(:name).each do |ds| %>
              <li> <%= ds.name %> </li>
            <% end %>
          </ul>
        </td>
        <td class="text-right"><%= link_to 'Show', data_source_group %> /
        <%= link_to 'Edit', edit_data_source_group_path(data_source_group) %> /
        <%= link_to 'Destroy', data_source_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data source group', new_data_source_group_path %>
